{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-sm-12">
	<h3>Події</h3>
    {% if events is defined %}
    	<div class="row">
        {% for item in events %}
            <div class="col-sm-3">
            	<p><strong><a href="{{ path( 'acme_sport_event_one', { 'id': item.e_id } ) }}">{{ item.e_title }}</a></strong> | {{ item.sportTitle }}</p>
            	<p>{{ item.e_desc|length > 200 ? item.e_desc|slice(0, 150) ~ '...' : item.e_desc }}</p>
            	<p><small>{{ item.e_dateStart|date('d.m.Y H:i') }} &ndash; {{ item.e_dateEnd|date('d.m.Y H:i') }}</small></p>
            </div>
            {% if loop.index % 4 == 0 %}
            </div><div class="row">
            {% endif %}
        {% endfor %} 
    	</div>
    {% else %}
		<p class="alert alert-danger" role="alert">Наразі намічених подій немає</p>
	{% endif %}
    </div>
</div>
{% endblock %}