{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-sm-12">
    	<h1>{{ event.e_title }}</h1>
    	<p class="small">{{ event.e_dateStart|date('d.m.Y H:i') }} &ndash; {{ event.e_dateEnd|date('d.m.Y H:i') }} | <a href="{{ path('acme_sport_sport_one', {'url': event.sportUrl}) }}">{{ event.sportTitle }}</a></p>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
    	<article>{{ event.e_desc }}</article>
    	<div id="attend">
			<div class="row">
				<div class="col-md-3"><a class="btn btn-default" href="#" role="button">прийму участь</a></div>
				<div class="col-md-9">
					{% for u in users %}
					<img src="{{ u }}" />
					{% endfor %}
				</div>
			</div>
    	</div>
    </div>
    <div class="col-sm-6">

		<div id="gallery_photos">
			{% for p in photos %}
			<img src="{{ url('homepage') }}images/events/{{ event.e_id }}/{{ p }}">
			{% endfor %}
		</div>
    </div>
</div>
{% endblock %}