{% extends 'base.html.twig' %}
{% block body %}
<div class="row">
	<div class="col-md-12" style="text-align:center;background:#fff">
		<h1>Once This Will Become a Handbook</h1>
		<img src="{{ asset('images/bg404.jpg') }}" />
	</div>
</div>
{% endblock %}