{% extends 'base.html.twig' %}
{%block head_css %}
    <link href="{{ asset('css/search.css') }}" rel="stylesheet" media="screen">


    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
    <![endif]-->

    <!-- Markercluster -->
    <link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />
    <link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css' rel='stylesheet' />
    <!-- Load Esri Leaflet from CDN -->
    <link rel="stylesheet" type="text/css" href="http://cdn-geoweb.s3.amazonaws.com/esri-leaflet-geocoder/1.0.0-rc.4/esri-leaflet-geocoder.css">

{%endblock%}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            {% if sports is defined %}
                <h2>Оберіть вид спорту, яким ви хочете займатися</h2>
                <div id="categorys">
                    {% for item in sports %}
                        <div id="{{item.s_url}}" class="category_sport"></div>
                    {%endfor%}
                </div>
            {%endif%}

            <div id="map"></div>

            {% if events is defined %}
                <div class="col-sm-12">
                    <h2>Останні події</h2>
                </div>
                <div class="slider shadow"> 
                    <div class="left_arrow"></div>
                    <div class="slider-wrapper">
                        <div class="slider-items">
                            {% for item in events %}
                                <div class="one_event-block">
                                    <a href="{{ path('acme_sport_event_one', {'id': item.e_id}) }}">
                                    <div class="logo_img"><img src="{{ url('homepage') }}images/events/{{ item.e_id }}/{{ item.photo }}"></div>
                                    <div class="title_event">{{item.e_title}}</div>
                                    </a>
                                </div>
                            {%endfor%}
                        </div>
                    </div>
                    <div class="right_arrow"></div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="{{ asset('js/carousel.js') }}"></script>

    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

    <!-- Markercluster -->
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js'></script>
    <!--<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css' rel='stylesheet' />-->

    <!-- Load Esri Leaflet from CDN -->
    <script src="http://cdn-geoweb.s3.amazonaws.com/esri-leaflet/1.0.0-rc.5/esri-leaflet.js"></script>

    <script src="{{ asset('js/map/event.js') }}"></script>
    <script src="{{ asset('js/map/storage.js') }}"></script>
    <script src="{{ asset('js/map/map.js') }}"></script>
    <script src="{{ asset('js/map/run.js') }}"></script>

    <!-- Markercluster -->
    <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>
    <!-- Load Esri Leaflet from CDN -->
    <script src="http://cdn-geoweb.s3.amazonaws.com/esri-leaflet-geocoder/1.0.0-rc.4/esri-leaflet-geocoder.js"></script>
{%endblock%}