{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-sm-12">
    	<h1>This is map</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 content-left">
    </div>
    <div class="col-sm-6 content-right">
        <div class="events">
        </div>
    </div>
</div>
{% endblock %}