
{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-sm-12">
    	<h1>Види спорту</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
    {% if sports is defined %}
        <div class="row">
        {% for item in sports %}
            {% set desc = item.s_description|striptags %}
            <div class="col-sm-3">
                <p class="text-center"><strong><a href="{{ path( 'acme_sport_sport_one', { 'url': item.s_url } ) }}">{{ item.s_title }}</a></strong></p>
                <div class="pull-left" id="{{ item.s_url }}"></div>
                <p>{{ desc|length > 200 ? desc|slice(0, 150) ~ '...' : desc }}</p>
            </div>
            {% if loop.index % 4 == 0 %}
            </div><div class="row">
            {% endif %}
        {% endfor %} 
        </div>
    {% endif %}
    </div>
</div>
{% endblock %}