
{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-sm-12">
    	<h1>Види спорту</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
    {% if sports is defined %}
        <div class="row">
        {% for item in sports %}
            <div class="col-sm-3">
                <p class="text-center"><strong><a href="#">{{ item.title }}</a></strong></p>
                <div class="text-align"><img src="{{ url('homepage') }}images/objects/logos/{{ item.logo }}" /></div>
                <p>{{ item.desc|length > 200 ? item.desc|slice(0, 150) ~ '...' : item.desc }}</p>
                <p><small>{{ item.address }}</small></p>
                <p>
                    {% for i in 1..5 %}
                        {% if i < item.rate %}
                            <span class="glyphicon glyphicon-star"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-star-empty"></span>
                        {% endif %}
                    {% endfor %}
                </p>
            </div>
            {% if loop.index % 4 == 0 %}
            </div><div class="row">
            {% endif %}
        {% endfor %} 
        </div>
    {% else %}
        <p class="alert alert-danger" role="alert">Наразі намічених подій немає</p>
    {% endif %}
    </div>
</div>
{% endblock %}