<!DOCTYPE html>
<html>
<head>

    <title>Sport.me</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('css/bootstrap-theme.css') }}" rel="stylesheet" media="screen">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">

    {% block head_css %}{% endblock %}

    <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

</head>

<body>
    <div class="container">
        <div class="wrapper-header">
            <div class="row">
                <div class="col-sm-12 wrapper-header">
                    <div class="row">
                        <div class="col-sm-4">
                        </div>
                        <div class="col-sm-4">
                        </div>
                        <div class="col-sm-4">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <a href="{{ path('acme_sport_homepage') }}">
                                <img src="{{ asset('images/logo.png') }}" id="logo" />
                            </a>
                        </div>
                        <div class="col-sm-8">
                            <div class="search">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search for...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">Ok!</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-4">
                            <ul class="nav nav-pills ">
                              <li role="presentation" class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                                  Тренування
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{{ path('acme_sport_sports') }}">Усі</a></li>
                                    {% for item in sports_list.getSports() %}
                                        <li><a href="{{ path('acme_sport_sport_one', {'url': item.s_url}) }}">{{ item.s_title }}</a></li>
                                    {% endfor %}
                                </ul>
                              </li>
                              <li role="presentation"><a href="{{ path('acme_sport_events') }}">Події</a></li>
                              <li role="presentation"><a href="{{ path('acme_sport_questions') }}">Запитання</a></li>
                              <li role="presentation"><a href="{{ path('acme_sport_handbook') }}">Довідник</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper-content">
            <div class="row">
                <div class="col-sm-12 content">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        <div class="wrapper-footer">
            <div class="row">
                <div class="col-sm-12 footer">
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
    <script src="{{ asset('js/jquery.js') }}"></script>
    <!-- Include all JavaScripts, compiled by Assetic -->
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    {% block js %}{% endblock %}
    <!-- <script src="{{ asset('js/backbone.js') }}"></script> -->
    <script type="text/javascript">
        $(document).bind('scroll', function(event){
            var element = $(event.target);
            if(element.scrollTop() !== 0) {

            }
        });
    </script>
</body>