.slider  {
    width: 100%;
    margin: 0px auto;
    overflow: hidden;
    position: relative;
    font-size: 85%;
}
.slider-wrapper {
    width: 88%;
    position: relative;
    overflow: hidden;
    margin: 0 auto; 
}
.slider-items {
    width: 10000px;
    position: relative;
}
.one_event-block{
    float: left;
    width: 146px;
    height: 146px;
    margin: 10px;
    border: 1px solid #ccc;
}
.one_event-block:hover{
    cursor: pointer;
}
.left_arrow, .right_arrow {
    width: 64px;
    height: 64px;
    top: 50px;
    position: absolute;
    cursor: pointer;
}
.left_arrow {
    background: url(../images/left.png);
    left: 0;
}
.right_arrow {
    background: url(../images/right.png);
    right: 0;
}
.category_sport{
    display: inline-block;
    opacity: 0.5;
    cursor: pointer;
    margin: 5px;
}
.category_sport:hover{
    opacity: 1;
}

.logo_img{
    width: 100%;
    height: 70%;
}
.logo_img img{
    width: 95%;
    height: 95%;
    margin: .3em
}
.title_event{
    text-align: center;
    color: blue;
}
.address{
    border-top: 1px dotted;
}
.shadow{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
}
#map{
    width: 100%;
    height: 500px;
}
.inline-block {
    display: inline-block;
}
.table-cell {
    display: table-cell;
    vertical-align: top;                
}
.title {
    font-weight: bold;
}
.info {
    display: block;
}
img.obj {
    margin: 1em;
    max-height: 5em;
    max-width: 6em;
}